/* Stylesheet for PyRe *
 *
 * Must be compile using LessCSS
 * developped by cloudhead, thanks !
 *
 */

/* Colors */
@base_light: #c1c1c1;
@base_dark: #1c1c1c;

/* Style */

body {
	width: 900px;
	margin: auto;
	font-family: sans-serif;
	font-size 0.9em;
	color: #1c1c1c;

	header {
		
	}
}

body > header {
	text-align: center;
}

body > header > h1 {
	font-size: 1.8em;
}

body > header > h1:before {
	color: #d1d1d1;
	content: "{";
	font-weight: 300;
	font-size:2em;
}

body > header > h1:after {
	color: #d1d1d1;
	font-weight: 300;
	content: "}";
	font-size:2em;
}



/* Home page */


#queues_list {

