{% extends "templates/base.html" %}

{% block content %}
{# init the counter #}
{% set queues = queues + [{"name":"Add a queue", "id":"add"}] %}
{% set count = 0 %} 
<div id="queues_list">
	<div class="row">
		{% for q in queues %}
			{% if not q == {} %}
				{% if count == 3 %}
					<div class="row">
					{% set count = 0 %}
				{% endif %}

				<a class="queue" href="/{{q.id}}">
					<div>
						<p>{{q.name}}</p>
					</div>
				</a>

				{% set count = count+1 %}
				{% if count == 3 %}
					</div>
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock %}

{#
 vim: set ft=htmldjango
#}
